<a href="/panel" class="panel__link <%= path === "/panel" ? "panel__link--selected" : '' %>"
>Orders</a>
<a href="/panel/clients" class="panel__link <%= path === "/panel/clients" ? "panel__link--selected" : '' %>">Clients</a>
<a href="/panel/companies" class="panel__link <%= path === "/panel/companies" ? "panel__link--selected" : '' %>">Companies</a>
<a href="/panel/agents"
   class="panel__link <%= path === "/panel/agents" ? "panel__link--selected" : '' %>">Agents</a>
<a href="/panel/add/agent" class="panel__link <%= path === "/panel/add/agent" ? "panel__link--selected" : '' %>">Add
    Agent</a>
